include ../mixins/sub-menu.pug
mixin category-wrapper(layoutProductCategory)
    .category_wrapper
        .category_wrapper-inner
            - const pathProduct = "/products"
            +sub-menu(pathProduct,layoutProductCategory)
            .category-panel
                .panel-left
                    .banner-slider
                        .banner-image 
                            img(alt="oppo-find-x9-pre-home" fetchpriority="high" width="600" height="260" src="https://mms.img.susercontent.com/vn-11134513-7ras8-mcu59d5h8j7jb0@resize_ss640x400!@crop_w640_h400_cT")
                        .banner-image 
                            img(alt="home-app3-opensale" width="600" height="260" loading="lazy" src="https://down-vn.img.susercontent.com/vn-11134513-81ztc-mla0s91lnaww69@resize_ss576x330")
                        .banner-image 
                            img(alt="huawei-ultimate2-home" width="600" height="260" loading="lazy" src="https://down-vn.img.susercontent.com/vn-11134513-7r98o-lstzgfrgdms9bd@resize_ss576x330")
                        .banner-image 
                            img(alt="Home-tuan-le-bep-gia-dung" width="600" height="260" loading="lazy" src="https://down-vn.img.susercontent.com/vn-11134513-81ztc-mldb5m4r5ds36f@resize_ss576x330")
                        .banner-image 
                            img(alt="amazfit-t-rex-3-pro-sliding" width="600" height="260" loading="lazy" src="https://down-vn.img.susercontent.com/vn-11134513-81ztc-mlyuxxwwnytd78@resize_ss576x330")
                        .banner-image 
                            img(alt="nubia-neo-3-4g-home-0925" width="600" height="260" loading="lazy" src="https://down-zl-vn.img.susercontent.com/vn-11134513-7r98o-lsu7mfb0n7b8d2@resize_ss640x400!@crop_w640_h400_cT")
                        .banner-image 
                            img(loading="lazy" width="600" height="260" src="https://mms.img.susercontent.com/vn-11134513-7r98o-lstspk4hmtnd03@resize_ss750x400!@crop_w750_h400_cT")
                        .banner-image 
                            img(loading="lazy" width="600" height="260" src="https://down-vn.img.susercontent.com/vn-11134513-7ras8-m33369riwrei4d@resize_ss576x330")
                    .banner-images 
                        a(href="/") 
                            img(width="200" height="90"  src="https://mms.img.susercontent.com/vn-11134513-7r98o-lsu1hzjlo53855@resize_ss750x400!@crop_w750_h400_cT")
                        a(href="/") 
                            img(width="200" height="90" src="https://mms.img.susercontent.com/vn-11134513-81ztc-mm16oa1081z92c@resize_ss750x400!@crop_w750_h400_cT")
                        a(href="/") 
                            img(width="200" height="90" src="https://mms.img.susercontent.com/vn-11134513-7r98o-lsu89vlv40wp1c@resize_ss750x400!@crop_w750_h400_cT" alt="macbook-giao-xa")
                    .banner-halloween 
                        a(href="/")
                            img(
                                width="300" height="100"
                                src="https://mms.img.susercontent.com/vn-11134513-820l4-mfjg3g5ja0i76e@resize_ss750x400!@crop_w750_h400_cT"
                                alt="Banner Halloween 1"
                            )
                        a(href="/")
                            img(
                                width="300" height="100"
                                src="https://mms.img.susercontent.com/vn-11134513-7ras8-matk3ifg6b4n16@resize_ss750x400!@crop_w750_h400_cT"
                                alt="Banner Halloween 2"
                            )
                    
                .panel-right
                    .box-top
                        .inner-title
                            .image 
                                img(loading="lazy" src="https://www.foody.vn/style/images/mobile/logo-foody-f.png" alt="ant-smile")
                            p Chào mừng bạn đến với Haka Food 🍔
                        .inner-desc 
                            p Tham gia thành viên để nhận ưu đãi đồ ăn hấp dẫn mỗi ngày.
                        .inner-auth 
                            a(href="/user/login") Đăng nhập
                            span hoặc
                            a(href="/user/register") Đăng ký
                            
                    .box-bottom
                        .item
                            .title 
                                a(href="/") Ưu đãi món ngon mỗi ngày
                            ul 
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Đăng ký <strong>nhận voucher giảm giá</strong>
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Combo ăn uống <strong>tiết kiệm mỗi ngày</strong>
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_student_home_190825.png")
                                        span Giảm thêm <strong>đến 50%</strong> cho món hot       
                        .item
                            .title 
                                a(href="/") Ưu đãi đặt hàng
                            ul 
                                li 
                                    a(href="")
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span Freeship <strong>đơn từ 50k</strong> 
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span Giảm giá <strong>đơn đầu tiên</strong> 
                                li 
                                    a(href="") 
                                        img(loading="lazy" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:18:18/q:40/plain/https://cellphones.com.vn/media/wysiwyg/icon_repeat_home_190825.png")
                                        span Tích điểm đổi <strong>món miễn phí</strong> 