extends ../../layouts/default.pug
block main
    h1 trang tổng quan
    .row
        .col-12
            .card.mb-4 
                .card-header Doanh thu bán hàng theo danh mục
                .card-body
                    .row 
                        .col-6
                            .row 
                                .col-4 
                                    select.form-control(name="filter" filterSelect)
                                        option(value="day") 1 Ngày qua
                                        option(value="week") 1 Tuần qua 
                                        option(value="month" selected) 1 Tháng qua 
                                        option(value="quarter") 1 Quý qua
                                .col-6 
                                    div Tổng doanh thu: <span id="totalRevenue"></span> VNĐ
                            canvas(id="myChart")
                        .col-6 
                            canvas(id="lineChartYear")
            
        .col-12
            .row 
                .col-8
                    .card.mb-4 
                        .card-header Top sản phẩm bán chạy 
                        .card-body 
                            .swiper
                                .swiper-wrapper
                                    each product in bestSellerProduct
                                        .swiper-slide(
                                            style="background:#fff; padding:10px; text-align:center; border-radius:8px; box-shadow: 0 4px 10px rgba(0,0,0,0.15); display:flex; flex-direction:column; align-items:center;"
                                        )
                                            img(
                                                src=product.thumbnail, 
                                                alt=product.title, 
                                                style="width:100%; height:100px; object-fit:cover; border-radius:5px; margin-bottom:8px;"
                                            )
                                            h4(style="font-size:14px; margin:5px 0; color:#333; text-align:center;")= product.title
                                            p(style="font-size:12px; color:#666; text-align:center;") Sold: #{product.sold}
                                //- Pagination & Navigation
                                .swiper-pagination
                                .swiper-button-next
                                .swiper-button-prev
                .col-4 
                    canvas(id="donutChart" width="200" height="200")
    .row.mt-4
        .col-12
            .card.mb-4
                .card-header Thông tin tài khoản
                .card-body
                    if user.avatar
                        img(
                            src=user.avatar
                            style="height: 100px; margin-bottom: 15px;"
                        )
                    if user.fullName
                        p Họ tên: 
                            b= user.fullName
                    if user.email
                        p Email: 
                            b= user.email
                    if user.phone
                        p Số điện thoại: 
                            b= user.phone
                    if role && role.title
                        p Phân quyền: 
                            b= role.title

        .col-6
            .card.mb-4
                .card-header Danh mục sản phẩm
                .card-body
                    p Số lượng: 
                        b #{statistic.categoryProduct.total}
                    p Hoạt động: 
                        b #{statistic.categoryProduct.active}
                    p Dừng hoạt động: 
                        b #{statistic.categoryProduct.inactive}

        .col-6
            .card.mb-4
                .card-header Sản phẩm
                .card-body
                    p Số lượng: 
                        b #{statistic.product.total}
                    p Hoạt động: 
                        b #{statistic.product.active}
                    p Dừng hoạt động: 
                        b #{statistic.product.inactive}
        
        .col-6
            .card.mb-4
                .card-header Tài khoản admin
                .card-body
                    p Số lượng: 
                        b #{statistic.account.total}
                    p Hoạt động: 
                        b #{statistic.account.active}
                    p Dừng hoạt động: 
                        b #{statistic.account.inactive}
        
        .col-6
            .card.mb-4
                .card-header Tài khoản client
                .card-body
                    p Số lượng: 
                        b #{statistic.user.total}
                    p Hoạt động: 
                        b #{statistic.user.active}
                    p Dừng hoạt động: 
                        b #{statistic.user.inactive}
block script 
    script(src="/admin/js/dashboard.js")